.display-flex{
    display: flex;
}
.color{
    color: #3A3A3A;
}

.navbar{
    justify-content: space-between;
    padding: 87px 120px;
}
.navbar ul{
    gap: 30px;
    margin-top: 25px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
}
.navbar h1{
    font-size: 24px;
    font-family: "poppins" sans-serif;
    font-weight: bold;
}
.sec-1{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}
.writing-sector h2{
    font-size: 52px;
    font-weight: bold;
    font-family: "poppins" sans-serif;

}
.writing-sector p{
    font-size: 16px;
    font-weight: 350;
    max-width: 505px;
    max-height: 61px;
}
.writing-sector button{
    background-color: #E02C6D;
    color: white;
    max-width: 196px;
    max-height: 44px;
    border-radius: 41px;
    border: none;
    padding: 10px 24px;
}
.img-sector{
    background-image: url(./images/Circle\ design.svg);
}